<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
    <title>Boom Trapezoid</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <link rel="stylesheet" href="{relocatable: css/blueprint/screen.css}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{relocatable: css/blueprint/print.css}" type="text/css" media="print">    
    <!--[if IE]><link rel="stylesheet" href="{relocatable: css/blueprint/ie.css}" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" href="{relocatable: css/base.css}" type="text/css">
</head>

<body class="{name:}">
    <div class="container">
        <div class="span-24">
            <h1>
                <a href="{relocatable: index.html}">Boom Trapezoid</a>
            </h1>

            <p class="subtitle">(an exploration of the complex interactions between booms and trapezoids.)</p>

            <p class="nav">
                <a href="{relocatable: index.html}">Home</a> |
                <a href="irc://irc.synirc.net#boomtrapezoid">IRC</a> |
                <a href="http://github.com/aanand/boomtrapezoid">Source</a> |
                <a href="http://boomtrapezoid.lighthouseapp.com/">Development</a> |
                <a href="{relocatable: license.html}">License</a>
            </p>
        </div>
        
        <webgen:block name="content" />
    </div>
    
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-5491859-1");
    pageTracker._trackPageview();
    </script>
</body>

</html>
